---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import CardEquipoTecnico from "../components/CardEquipoTecnico.astro"
import Ruta from "../components/Ruta.astro"
---

<Layout title="Equipo Técnico - Colegio Alcázares de Ñuble" description="Equipo Tecnico - Colegio Alcázares de Ñuble">
    <Header />
    <Ruta route="../" preview="Inicio" actual="Equipo Técnico"/>
    <div class="flex justify-center my-10 ">
        <h1 class="text-2xl md:text-4xl font-bold">Conoce a nuestro equipo técnico</h1>
    </div>

    <div class="flex justify-center mt-10 mb-60">
        <div class="cards max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 gap-y-8">
            <div class="lg:col-start-2 lg:col-span-2">
                <CardEquipoTecnico url="../equipo-tecnico/utp.jpg" name="Francia Montolivo Fuentes" cargo="Jefa UTP"/>
            </div>
            <CardEquipoTecnico url="../equipo-tecnico/eva-hdez.jpg" name="Eva Hernández Arias" cargo="Orientadora"/>
            <CardEquipoTecnico url="../equipo-tecnico/carolina-guzman.jpg" name="Carolina Guzmán Henríquez" cargo="Convivencia Escolar"/>
            <CardEquipoTecnico url="../equipo-tecnico/catherine-lara.jpg" name="Catherine Lara Zárate" cargo="Encargada de Evaluación"/>
            <CardEquipoTecnico url="../equipo-tecnico/camila-meza.jpg" name="Camila Meza Salazar" cargo="Convivencia Escolar"/>
            <CardEquipoTecnico url="../equipo-tecnico/catalina.jpg" name="Catalina Riquelme Chávez" cargo="Coordinadora PIE"/>
            <CardEquipoTecnico url="../equipo-tecnico/pamela-yañez.jpg" name="Pamela Yañez Cárdenas" cargo="Coordinadora Nivel Parvulario"/>
        </div>
    </div>

    <Footer />
</Layout>
