---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Header.astro';
import Carousel from '../components/Carousel.astro';
import Footer from '../components/Footer.astro';
import Avisos from '../components/Avisos.astro'
import Header from '../components/Header.astro'
import FbProfile from '../components/FbProfile.astro'
import Events from '../components/Events.astro';
---

<Layout title="Colegio Alcázares de Ñuble - Formando Futuras Fortalezas" description='En Colegio Alcázares de Ñuble, nos dedicamos a formar futuras fortalezas en un gran ambiente educativo. Ofrecemos una educación integral, desarrollo personal y valores, además de variadas actividades extracurriculares que preparan a nuestros estudiantes para enfrentar los retos del futuro con confianza y habilidades.'>
	
	<Header />
	<div class="flex justify-center flex-col items-center bg-[#ddd] py-4 shadow-md shadow-[rgba(0,0,0,0.3)]">
		<h1 class="font-bold text-2xl lg:text-5xl mb-10 text-blue-800 underline mx-4">Aviso Importante</h1>
		<p class="font-semibold text-sm lg:text-lg text-black text-opacity-90 mx-4">Recordamos que en Agosto tendremos dos periodos de Interferiado:<br><br>
			- Jueves 15 y Viernes 16 de Agosto<br>
			- Lunes 19 y Martes 20 de Agosto<br><br>
		
			En estos días el colegio se encontrara cerrado y no habrá clases.</p>
	</div>
	<div class="max-w-5xl mx-auto my-4">
		<span class="font-bold text-xl mx-4">Noticias</span>
	</div>
	<Carousel />
	<Avisos />

	<div class="max-w-5xl mx-auto flex flex-col gap-20 my-20 items-center lg:items-start">
		<Events />
		<FbProfile />
	</div>

	
	<Footer />


</Layout>

