---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Proyecto Educativo - Colegio Alcázares de Ñuble">
    <Header />
    <div class="max-w-5xl mx-auto my-6">
        <a href="https://cdnsae.mineduc.cl/documentos/31087/ProyectoEducativo31087.pdf" target="_blank"><span class="bg-blue-600 px-4 py-2 rounded-md text-white hover:bg-blue-700 transition">Enlace al Documento</span></a>
    </div>
    <div class="container flex justify-center h-screen max-w-6xl mx-auto my-4 ">
        <embed src="https://cdnsae.mineduc.cl/documentos/31087/ProyectoEducativo31087.pdf" width="1000px" height="700px" type="application/pdf"  class="shadow-[rgba(0,0,0,0.5)] shadow-md mx-4">
    </div>
    <Footer />
</Layout>




