---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Proyecto Educativo - Colegio Alcázares de Ñuble">
    <Header />
   
    <div class="container flex justify-center h-screen max-w-6xl mx-auto my-4 ">
        <div>
            <iframe class="shadow-md shadow-[rgba(0,0,0,0.5)]" src="https://drive.google.com/file/d/1SmzlGxMqmQ0pYcljLQgzgMehkizELa2y/preview" width="1000px" height="700px" allow="autoplay"></iframe>
        </div>
    </div>
    <Footer />
</Layout>




