---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Reglamento de Convivencia Escolar - Colegio Alcázares de Ñuble">
    <Header />
        
        <div class="container flex justify-center h-screen max-w-6xl mx-auto my-4 ">
            <iframe class="shadow-md shadow-[rgba(0,0,0,0.5)]" src="https://drive.google.com/file/d/1bG2YdmNI8XqlDR3CnUElaON3dENpKXqL/preview" width="1000px" height="700px" allow="autoplay"></iframe>
        </div>


    <Footer />


</Layout>