---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Ruta from "../components/Ruta.astro";
---

<Layout title="Reglamento de Convivencia Escolar - Colegio Alcázares de Ñuble" description="Reglamento de Convivencia Escolar">
    <Header />
    <Ruta route="../" preview="Inicio" actual="Reglamento de Convivencia Escolar"/>
        
    <div class="container max-w-6xl mx-auto flex flex-col items-center lg:flex-row lg:justify-between mt-20 gap-x-16 gap-y-8 mb-40">
        <div class="intro mx-8">
            
            <h2 class="text-5xl font-bold mb-16">Reglamento de Convivencia Escolar</h2>
            <p class="max-w-[38rem]">El Colegio Alcázares de Ñuble, con el fin de tener una sana convivencia escolar, establece junto a toda su comunidad educativa, normas que regulan la participación
                en las actividades programadas durante el año escolar, lo que a su vez permite a los
                alumnos y alumnas una formación integral, basada en valores morales y éticos que
                faciliten el desarrollo del carácter y la personalidad.<br><br> Es de suma importancia dar a conocer las normas de convivencia social de
                todos los protagonistas de nuestro sistema educativo, además de ser un derecho en
                nuestra sociedad actual. De acuerdo a lo anteriormente señalado, consideramos
                fundamental obtener resultados significativos en lo académico y lo sociocultural, ya
                que de esta forma se estará brindando espacios para el crecimiento integral de
                nuestros alumnos y apoderados, denotando la dignidad, cultura, disciplina y
                solidaridad. <br><br>El Reglamento interno es el instrumento elaborado por los miembros de la
                comunidad educativa, de conformidad a los valores expresados en el Proyecto
                Educativo Institucional, que tiene por objetivo: Permitir el ejercicio y
                cumplimiento efectivo, de los derechos y deberes de sus miembros, a través de la
                regulación de sus relaciones, fijando en particular, normas de funcionamiento, de convivencia y otros procedimientos generales del establecimiento, de modo
                que cada integrante de la comunidad educativa tenga claridad acerca de los aspectos
                mencionados.</p>
            </div>
            
        <div class="docu mx-8">
            <iframe src="https://drive.google.com/file/d/1NggMoU348eb7lJRXmkQoN9HYKOpozp88/preview" width="350" height="480" allow="autoplay"></iframe>
        </div>
        
    </div>


    <Footer />


</Layout>