<div class="my-16">
    <div class="flex flex-col md:flex-row gap-4 md:justify-center items-center md:items-start ">
        <div class="flex flex-col md:flex-row gap-4 mx-4">
            <div class="aviso1">
                <img src="../admision1.jpg" alt="" width="550px">
            </div>
            <div class="aviso2">
                <img src="../admision.jpg" alt="" width="550px">
            </div>
        </div>
    </div>
</div>