---
import ContentCarousel from "./ContentCarousel.astro";
---

<div class="max-w-6xl mx-auto">

	<div id="default-carousel" class="relative" data-carousel="slide">
     
        <div class="overflow-hidden relative rounded-sm h-[300px] lg:h-[500px] mx-2 shadow-[rgba(0,0,0,0.5)] shadow-md">

            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="https://scontent.fscl38-1.fna.fbcdn.net/v/t39.30808-6/456442863_1232636561406005_611886475036027477_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEZ9w2nqRumogzi-MCwGf2296UeL3Y5E2L3pR4vdjkTYuEpS3E3IMkKJCh2uBNQkyw&_nc_ohc=g2xwPggy-dYQ7kNvgGBlgkM&_nc_zt=23&_nc_ht=scontent.fscl38-1.fna&oh=00_AYDWex0RPljCcRcz-TYnP71Z3gzAxBEad8O_FJDpQPgqig&oe=66D2C406" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="clasificatorio de cuecas de ACOPACH">

                <div class="absolute bg-black bg-opacity-50 w-full h-full">
                    <div class="texto-carousel absolute top-[50%] left-[50%] flex flex-col items-center text-white w-3/4 gap-2">
                        <ContentCarousel h="Clasificatorio de cuecas de ACOPACH" p="A la actividad asistieron 3 parejas de enseñanza básica y 2 de enseñanza media. Agradecemos el compromiso y entusiasmo de estas parejas por representar a nuestro establecimiento y destacamos de forma especial a la pareja compuesta por Cristián Moya y Martina Ortiz de séptimo básico B." href="https://web.facebook.com/elalcazarino/posts/pfbid09pQid2kNWqkGZeitkw9CDGgxdsbRL9EMSdGJZAT9qAnbqxvvoPWVdTKJ5Uqjr2Xhl"/>
                    </div>
                </div>
            </div>

            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="../dianiño.jpg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="Entrega de las Antologías de las Experiencias de los Diarios de Escritura Libre (Convocatoria 2023)">

                <div class="absolute bg-black bg-opacity-50 w-full h-full">
                    <div class="texto-carousel absolute top-[50%] left-[50%] flex flex-col items-center text-white w-3/4 gap-2">
                        <ContentCarousel h="Dia del Niño" p="El día viernes 9 de agosto el Colegio Alcázares de Ñuble en conjunto con el Centro de Padres y Apoderados y Centro de Estudiantes, le brindamos una celebración especial por el día del niño a nuestro Primer ciclo básico, disfrutando de diversos juegos acompañados de sus profesores y asistentes." href="https://www.flickr.com/photos/200544313@N07/albums/72177720319502897"/>
                    </div>
                </div>
            </div>

            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="../karate.jpg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="Entrega de las Antologías de las Experiencias de los Diarios de Escritura Libre (Convocatoria 2023)">

                <div class="absolute bg-black bg-opacity-50 w-full h-full">
                    <div class="texto-carousel absolute top-[50%] left-[50%] flex flex-col items-center text-white w-3/4 gap-2">
                        <ContentCarousel h="Taller de Karate" p="El día de ayer 05 de agosto, un grupo de estudiantes del Taller de Karate, a cargo del profesor Osvaldo González, realizo una visita al Dojo Rodríguez, en donde entrenaron junto a otros jovenes karatecas, dirigidos por el Sensei Cristian Rodríguez." href="https://www.flickr.com/photos/200544313@N07/albums/72177720319420082"/>
                    </div>
                </div>
            </div>

            

            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="https://scontent.fscl37-1.fna.fbcdn.net/v/t39.30808-6/453870540_1220036449332683_8459136503203189760_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEydzTBEWJ6ERWgY1miw5E1zokUiAEFkn7OiRSIAQWSfqVSJ7Ef1Bt0XVre5N9v1DU&_nc_ohc=iybZC1gbyCMQ7kNvgFgoPLv&_nc_zt=23&_nc_ht=scontent.fscl37-1.fna&oh=00_AYCBL-po4O3pWXboTS51c-Ar97WtW-8BSDdR4RApHH_eFA&oe=66CC13F4" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="Entrega de las Antologías de las Experiencias de los Diarios de Escritura Libre (Convocatoria 2023)">

                <div class="absolute bg-black bg-opacity-50 w-full h-full">
                    <div class="texto-carousel absolute top-[50%] left-[50%] flex flex-col items-center text-white w-3/4 gap-2">
                        <ContentCarousel h="Entrega de las Antologías" p="El día viernes 2 de agosto se realizó en el Departamento Provincial de Educación, la Ceremonia de “Entrega de las Antologías de las Experiencias de los Diarios de Escritura Libre (Convocatoria 2023)”." href="https://web.facebook.com/elalcazarino/posts/pfbid07iQniY5VhJoBLd9cMKv369E3JZG4JxeJCMP5VYiMsg15fk3Vo1XnmmAuwAgPLv6Rl"/>
                    </div>
                </div>
            </div>

           
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="../img.jpg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="Actuvidad de cocina Segundo Basico A">

                <div class="absolute bg-black bg-opacity-50 w-full h-full">
                    <div class="texto-carousel absolute top-[50%] left-[50%] flex flex-col items-center text-white w-3/4 gap-2">
                        <ContentCarousel h="Segundo Basico A" p="El segundo año básico llevó a cabo una emocionante actividad de cocina, en la que los estudiantes tuvieron la oportunidad de explorar y aprender sobre la preparación de alimentos." href="https://www.flickr.com/photos/200544313@N07/albums/72177720319351259"/>
                    </div>
                </div>
            </div>
           
           
            <!-- ------------ Segundo Elemento ---------------------- -->


            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="https://scontent.fscl37-1.fna.fbcdn.net/v/t39.30808-6/454005318_1217812686221726_4114329889755307051_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeG-LZANvLBey6lQKYJNo8oJMeoUuKm2LD8x6hS4qbYsP6wgPCIwUXWB5ZX5siQ7N8s&_nc_ohc=70oMf0FRsucQ7kNvgHvaihO&_nc_zt=23&_nc_ht=scontent.fscl37-1.fna&oh=00_AYCVsdUXxBBcBUc_P5B5oxCRbEmZG4OhSfxmskKHBuFwHg&oe=66CC1E60" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="seleccion sub 14 - Colegio Alcázares de Ñuble">

                <div class="absolute bg-black bg-opacity-50 w-full h-full">
                    <div class="texto-carousel absolute top-[50%] left-[50%] flex flex-col items-center text-white w-3/4 gap-2">
                        <ContentCarousel h="Seleccion Sub14" p="El día de hoy queremos destacar la actuación de nuestra selección sub 14 de fútbol ya que el pasado martes 30 de julio derrotó por 3 tantos a 2 al colegio Padre Hurtado seminario en calidad de visita." href="https://web.facebook.com/elalcazarino/posts/pfbid02Vh7MLrSnC7gHuHLTDRzqwb4UPpSVv99jdSQNgGyqR851CyTEmLEVyEUG4gEQjwtGl"/>
                    </div>
                </div>
            </div>

            <!-- ------------ Tercer Elemento ---------------------- -->

        </div>


        
        
        
        <div class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2">
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 1" data-carousel-slide-to="0"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 6" data-carousel-slide-to="5"></button>
            
        </div>
       
        <button type="button" class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30  group-focus:ring-4 group-focus:ring-white  group-focus:outline-none">
                <svg class="w-5 h-5 text-white sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                <span class="hidden">Anterior</span>
            </span>
        </button>
        <button type="button" class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 0 group-focus:ring-4 group-focus:ring-white  group-focus:outline-none">
                <svg class="w-5 h-5 text-white sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                <span class="hidden">Siguiente</span>
            </span>
        </button>
    </div>
    
</div>


<style>
    .texto-carousel{
        transform: translate(-50%, -50%);
    }
</style>