<div class="typewriter flex justify-center my-14 text-2xl md:text-5xl h-16 items-center">
    <p id="text" class="pr-2"></p>
</div>


<style>
    .typewriter p {
    font-family: "Pacifico", cursive;
    border-right: 4px solid #000; /* Cursor */
    white-space: nowrap;
    animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}
</style>

<script src="./ts/dinamycText.ts"></script>


