---
import CardEventos from "./CardEventos.astro";
---

<div class="container flex flex-col lg:flex-row items-center lg:items-start lg:justify-between gap-4">
    <div class="iz">
        <img src="image.png" alt="Logo Colegio" width="300px">
    </div>
    <div class="der flex flex-col gap-4">
        <CardEventos fecha="08 de Agosto" evento="Natalicio de Amy Chiquita"/>
        <CardEventos fecha="08 de Agosto" evento="Natalicio de Amy Chiquita y su hermosisima hermosa"/>
        <CardEventos fecha="08 de Agosto" evento="Natalicio de Amy Chiquita"/>
        <CardEventos fecha="08 de Agosto" evento="Natalicio de Amy Chiquita y su hermosisima hermosa"/>

    </div>
</div>