---
import CardEventos from "./CardEventos.astro";

const infoEventos = [
    {
        fecha: "23 de octubre",
        evento: "Día de la biblioteca escolar "
    },
    {
        fecha: "27 de octubre",
        evento: "Día de las manipuladoras de alimentos",
    },
    {
        fecha: "02 de noviembre",
        evento: "Día internacional contra la violencia y el acoso en la escuela, incluido el ciberacoso."
    }
]
---

<div class="container flex flex-col lg:flex-row items-center lg:items-start lg:justify-between gap-4">
    <div class="iz">
        <img src="image.webp" alt="Logo Colegio" width="300px">
    </div>
    <div class="der flex flex-col gap-4 font-semibold">
        <h2 class="font-bold text-2xl">Próximos Eventos</h2>
        {
            infoEventos.map((info) => (
                <CardEventos fecha={info.fecha} evento={info.evento} />
            ))
        }
        
    </div>
</div>