---
import CardEventos from "./CardEventos.astro";
---

<div class="container flex flex-col lg:flex-row items-center lg:items-start lg:justify-between gap-4">
    <div class="iz">
        <img src="image.webp" alt="Logo Colegio" width="300px">
    </div>
    <div class="der flex flex-col gap-4 font-semibold">
        <h2 class="font-bold text-2xl">Próximos Eventos</h2>
        <CardEventos fecha="26 de septiembre" evento="Día Mundial de la prevención del embarazo no planificado en la adolescencia."/>
        <CardEventos fecha="01 de octubre" evento="Día de Asistentes de la Educación."/>
        <CardEventos fecha="04 de octubre" evento="Día de la música chilena."/>
        <CardEventos fecha="10 de octubre" evento="Día mundial de las salud mental."/>
        
    </div>
</div>