<main class="bg-green-900 py-10">
    <div class="container max-w-xl lg:max-w-6xl mx-auto text-[#ddd] font-semibold ">
        <header class="flex flex-col md:flex-row justify-between mx-8 gap-6">
            <div class="logo">
                <a href="../" title="logo Colegio Alcázares de Ñuble footer">
                    <img src="image.webp" alt="logo Colegio Alcázares de Ñuble" width="80px" height="auto">
                </a>
                <h2 class="text-[#ddd] font-normal text-sm my-4">¡Formando Futuras Fortalezas!</h2>
            </div>
            
            <div class="contacto flex flex-col text-sm gap-5">
                <h3 class="text-lg font-bold">Contacto</h3>
                <span><ion-icon name="location-outline"></ion-icon> Camino Las Mariposas Km7 5714, Chillán, Chile.</span>
                <span class="hover:text-[#ddd] transition"><ion-icon name="call-outline"></ion-icon> <a href="tel:42 2873116">42 2873116</a></span>
                <span class="hover:text-[#ddd] transition"><ion-icon name="mail-outline"></ion-icon> <a href="mailto:alcazaresdenuble@gmail.com">alcazaresdenuble@gmail.com</a></span>
            </div>
            <div class="redes text-xl">
                <h3 class="mb-4">Síguenos</h3>
                <div class="flex gap-4 text-2xl">
                    <div class="fb hover:scale-110 transition duration-200"><a href="https://web.facebook.com/elalcazarino" target="_blank" title="link facebook">
                        <ion-icon name="logo-facebook"></ion-icon>
                      </a></div>
                      <div class="yt hover:scale-110 transition duration-200"><a href="https://www.youtube.com/@colegioalcazaresdenuble5713" target="_blank" title="link youtube">
                        <ion-icon name="logo-youtube"></ion-icon>
                      </a></div>
                      <span class="hover:scale-110 transition duration-200"><a href="https://www.flickr.com/photos/200544313@N07/" target="_blank" title="link flickr">
                        <ion-icon name="logo-flickr"></ion-icon>
                      </a></span>
                </div>
                
            </div>
        </header>
        <footer class="mt-5 mx-4">
            <div class="copy max-w-5xl mx-auto border-t border-[#aaa] border-opacity-40 pt-5 text-sm text-center flex justify-center">
                <span>Copyright © 2024 Colegio Alcázares de Ñuble</span>
            </div>
        </footer>
    </div>
</main>