<main class="bg-green-900 py-10">
    <div class="container max-w-xl lg:max-w-6xl mx-auto text-white font-semibold ">
        <header class="flex flex-col md:flex-row justify-between mx-4 gap-6">
            <div class="logo">
                <a href="#">
                    <img src="image.png" alt="" width="80px">
                </a>
            </div>
            <div class="contacto flex flex-col text-sm gap-2">
                <h3 class="text-lg font-bold">Contacto</h3>
                <span><ion-icon name="location-outline"></ion-icon> Camino Las Mariposas Km7 5714, Chillán, Chile.</span>
                <span><ion-icon name="call-outline"></ion-icon> 42 2873116</span>
                <span><ion-icon name="mail-outline"></ion-icon> info@colegioalcazaresdenuble.cl</span>
            </div>
            <div class="redes text-xl">
                <h3 class="mb-4">Síguenos</h3>
                <div class="flex gap-2 text-2xl">
                    <span><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></span>
                    <span><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></span>
                    <span><a href="#"><ion-icon name="logo-flickr"></ion-icon></a></span>
                </div>
                
            </div>
        </header>
        <footer class="mt-10 mx-4">
            <div class="copy max-w-5xl border-t border-white flex justify-center pt-5">Copyright © 2024 Colegio Alcázares de Ñuble | Funciona con Colegio Alcázares de Ñuble</div>
        </footer>
    </div>
</main>