---
interface Props {
	title: string;
	description: string
}

const { title, description } = Astro.props;



---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content="Colegio Alcázares de Ñuble, Educacion, Colegio, Educacion Parvularia, Chillan, Ñuble, Chile, Formando Futuras Fortalezas"/>
		<meta name="copyright" content="Colegio Alcazares de Ñuble" />
		<meta name="author" content="Gerson Contreras Henriquez"/>
		<meta name="robots" content="index, follow" />
		<link rel="icon" type="image/svg+xml" href="../image.webp" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		

		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

		
		<title>{title}</title>
	</head>

	<body class="bg-[#eee]">
		<slot />

		<script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
	</body>
</html>




